body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
h1 {
    text-align: left;
    margin-bottom: 1em;
    page-break-before: always;
}
h2 { text-align: left; }
h3 { text-align: center; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
p {
  orphans: 2;
  widows: 2;
  display: block;
  text-align: justify;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
  text-indent: 1em;
}
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
div.Transcript p { margin-bottom: 0.7em; margin-left: 2.5em; text-indent: -2.5em; }
div.Transcript span.deadair {
  display: block;
  font-variant-caps: small-caps;
  text-align: center;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}
div.Transcript table { width: 100%; vertical-align: top; margin-bottom: 1em; }
div.Transcript td { width: 50%; padding: 0.2em; hyphens: none; vertical-align: top; font-variant-caps: small-caps; }
div.Transcript div.header p { font-variant-caps: small-caps; text-align: center; }